.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  border-radius: 8px;
  margin-left: -130px;
}

.app__searchForm {
  margin: 0 auto;
  margin-left: 275px;
  position: sticky;
}

.app__input {
  margin: 0 auto;
  min-width: 400px;
  max-width: 100vw;
  font-size: 14px;
}

.app__submit {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  justify-content: center;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 4px;
  color: black;
}
.app__submit:hover {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 14px;
  background-color: rgb(252, 251, 249);
  border: 2px solid orange;
  border-radius: 4px;
  color: black;
}
.app__recipes {
  margin-top: 24px;
  margin-left: -250px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  align-items: baseline;
  /* // grid has 4 values across */
}
