/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 65%;
  height: 600px;
  background: url('../../../content/images/linkerlogo.png') no-repeat center top;
  background-size: contain;
}

h2 {
  color: green;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

p {
  color: orange;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

h5 {
  color: green;
  width: 500px;
  text-align: center;
}
