/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 65%;
  height: 600px;
  background: url('../../../content/images/linkerlogo.png') no-repeat center top;
  background-size: contain;
}
