.recipeTile {
  cursor: pointer;
  /* // add cursor over photos for weblink */
}

.recipeTile__img {
  height: 600px;
  width: 600px;
  object-fit: cover;
  border-radius: 33px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 70px;
  max-width: 95%;
  height: auto;
}

.recipeTile__img:hover {
  box-shadow: 0 0 5px 2px rgb(1, 114, 29);
}
.recipeTile__name {
  max-width: 200px;
  text-align: center;
}
